altgraph==0.17.4
packaging==23.2
pefile==2023.2.7
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
pywin32-ctypes==0.2.2
setuptools==68.2.2
chardet==5.2.0

